{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ person.name }}{% endblock %}
<!--Основной контейнер-->
{% block content %}
<div class="container" id="main_content">

    <!--Breadcrumbs-->
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href="#" class="hover_line">{% trans "Home" %}</a></li>
                <li><a href="#" class="hover_line">{% trans "Actors" %}</a></li>
                <li>{{ person.name }}</li>
            </ul>
        </div>
    </div>
    <!--Конец-->

    <!--Об Актере-->
    <div id="actor_info">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">

                    <div class="col-sm-2">
                        <img src={{ person.photos }} alt="actor" class="img-responsive person_img">
                    </div>

                    <div class="col-sm-10">
                        <h1>{{ person.name }}</h1>
                        <h2>{{ person.international_name }}</h2>
                        <p>{{ person.info }}</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Конец-->

    <!--Фильмы-->
    <div class="s_bestseller_slider_row mb0">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3><i class="fa fa-heart"></i>{% trans "The main films of the actor" %} {{ person.name }}а</h3>
            </div>
        </div>

        <div class="s_bestseller_slider">

            <div class="row">

                <!--Стрелка влево-->
                <div class="col-sm-1 hidden-xs">
                    <button class='btn btn-default leftRs' data-slider="bestseller_slider_1"><i
                            class="fa fa-angle-left"></i></button>
                </div>
                <!--Конец-->

                <!--Слайдер-->
                <div class="col-sm-10">

                        <div class="resCarousel" data-items="2,3,4,4" data-slide="1" id="bestseller_slider_1">

                            <div class="resCarousel-inner">

                                {% for person_movie in person.participants.all %}
                                {% if person_movie.movie.hit >= 10000 %}
                                    <div class="item">

                                        <!-- Для ссылки внутри каждого фильма в цикле прописываем айдишник вида bestseller_slider_[номер слайдера]_film_[номер фильма]-->
                                        <a href="{% url 'webapp:movie_detail' person_movie.movie.movie_id %}" id="bestseller_slider_1_film_{{ person_movie.movie.movie_id }}">
                                            <span class="poster" style="background-image: url({{ person_movie.movie.covers }})">
                                                <span class="helper"><i class="fa fa-play-circle-o"></i></span>
                                            </span>
                                            <span class="title">{{ person_movie.movie.name }}</span>
                                        </a>

                                        <!--Всплывающее описание. Айдишник вида popover_[айди ссылки на фильм]-->
                                        <div id="popover_bestseller_slider_1_film_{{ person_movie.movie.movie_id }}" class="popover_custom"
                                             style="display: none">

                                            <div class="top">
                                                <button class="btn_blank" title="В избранное"><i class="fa fa-star-o"></i>
                                                </button>
                                                <!--<button class="btn_blank in_fav" title="Удалить из избранного"><i class="fa fa-star"></i></button>-->
                                                <a href="#" class="hover_line info_link">{% trans "Description" %}</a>
                                                <span class="time"><i class="fa fa-clock-o"></i>{{ person_movie.movie.files.seconds }}</span>
                                                <span class="view"><i class="fa fa-eye"></i>{{ person_movie.movie.hit }}</span>
                                            </div>


                                            <div class="genre">
                                                {% for genre in person_movie.movie.genres.all %}
                                                    <span>{{ genre.name }}</span>
                                                {% endfor %}
                                            </div>


                                            <div class="year">
                                                <span>{{ person_movie.movie.year }}</span>
                                                {% for countries in person_movie.movie.countries.all %}
                                                    <span>{{ countries.name }}</span>
                                                {% endfor %}
                                            </div>

                                            <div class="info">
                                                <p>
                                                    <span>{% trans "Ratings" %}:</span>
                                                    {% for ratings in person_movie.movie.ratings.all %}
                                                        <span>{{ ratings.system }} : {{ ratings.value|floatformat }}</span>
                                                    {% endfor %}
                                                </p>
                                                <p>
                                                    <span>{% trans "Director" %}:</span>
                                                    {% for participants in person_movie.movie.participants.all %}
                                                    {% if participants.role.role_id == 1 %}
                                                        <span>{{ participants.person.name }}</span>
                                                    {% endif %}
                                                    {% endfor %}
                                                </p>
                                                <p>
                                                    <span>{% trans "Cast" %}:</span>
                                                    {% for participants in person_movie.movie.participants.all %}
                                                    {% if participants.role.role_id == 3 or participants.role.role_id == 4 %}
                                                        <span>{{ participants.person.name }}</span>
                                                    {% endif %}
                                                    {% endfor %}
                                                </p>
                                            </div>

                                            <div class="excerpt">
                                                <p>{{ person_movie.movie.description }}</p>
                                            </div>


                                        </div>
                                        <!--Конец-->

                                    </div>
                                {% endif %}
                                {% endfor %}
                                    <!--Конец-->
                            </div>

                        </div>

                </div>
                <!--Конец-->

                <!--Стрелка вправо-->
                <div class="col-sm-1 hidden-xs">
                    <button class='btn btn-default rightRs' data-slider="bestseller_slider_1"><i
                            class="fa fa-angle-right"></i></button>
                </div>
                <!--Конец-->

            </div>

        </div>


    </div>
    <!--Конец-->

    <!--Горизонтальный баннер-->
    <div class="row">
        <div class="col-sm-12">
            <div class="banner_hor">
                <a href="#"><img src="../static/img/banner_910x90.png" alt="banner" class="img-responsive"></a>
            </div>
        </div>
    </div>
    <!--Конец-->


    <!--Фильмография-->
    <div class="row actor_films">
        <div class="col-sm-10 col-sm-offset-1">
            <h3 class="h3_with_fa"><i class="fa fa-film"></i>{% trans "Whole filmography" %}</h3>
            <ul class="list-unstyled">
            {% for person_movie in person.participants.all %}
                <li><a href="{% url 'webapp:movie_detail' person_movie.movie.movie_id %}" class="hover_line hover_red">{{ person_movie.movie.name }} ({{ person_movie.movie.year }})</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <!--Конец-->

</div>
<!--Конец-->
{% endblock %}
{% block script %}
    <!--Подключаем слайдер с фильмами-->
<script src="../static/js/resCarousel.min.js"></script>
<!--Конец-->

<!--Скрипт для popover-->
<script src="../static/js/tippy.all.min.js"></script>
<script>

    function initialize_popper(obj) {
        var element = '#' + $(obj).attr('id');
        var template = document.getElementById('popover_' + $(obj).attr('id'));

        try {
            tippy(
                element,
                {
                    content: template.innerHTML,
                    placement: "right-end",
                    flipBehavior: ["right", "left"],
                    interactive: true,
                    animateFill: false,

                    // boundary: $('#catalog_film_3'),
                    theme: 'praktikanto',
                    onMount({reference}) {
                        reference.setAttribute('aria-expanded', 'true');
                        $(element).find('.helper').toggle('fade', {direction: "right"}, 100);
                    },
                    onHide({reference}) {
                        reference.setAttribute('aria-expanded', 'false');
                        $(element).find('.helper').toggle('fade', {direction: "right"}, 100);
                    },
                },
            )

        } catch (err) {

            console.log(err)

        }
    }

    $(document).ready(function () {
        $('a[id^=bestseller_slider]').each(function () {

            initialize_popper($(this));

        });

        $('a[id^=catalog_film_]').each(function () {

            initialize_popper($(this));

        });
    });
</script>
<!--Конец-->
{% endblock %}