{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container" id="main_content">
        <h3 class="h3_with_fa favorite_h3"><i class="fa fa-star"></i>{% trans 'Favorites' %}</h3>
        {% for bookmark in bookmark.user.all %}
            {% if user.bookmark.exists %}
                <div class="result_s_film">
                <div class="row">

                <div class="col-sm-2">
                    <a href="#"><img src="../static/img/f1.png" alt="poster" class="img-responsive"></a>
                </div>

                <div class="col-sm-10">

                {% for movie in movies %}

                    <h2>{{ movie.name }}</h2>

                    <div class="metadata">
                        <p>
                            <strong><span>{{ bookmark.movie.created_at }}</span>
                                {% for countries in bookmark.movie.countries.all %}
                                    <span>{{ countries.name }}</span>
                                {% endfor %}
                            </strong>
                        </p>
                        {% for genre in bookmark.movie.genres.all %}
                            <p>
                                <span>{{ genre.name }}</span>
                            </p>
                        {% endfor %}
                        <p>
                            {% for ratings in movie.ratings.all %}
                                <span>{{ ratings.system }} : {{ ratings.value }}</span>
                            {% endfor %}
                        </p>
                    </div>

                    <div class="button_block">
                        <div class="wrapper"><a href="#" class="custom_btn_border big">{% trans 'Watch' %}</a></div>
                        <div class="wrapper"><a href="#"
                                                class="custom_btn_border small_padding">{% trans 'Add to favorites' %}<i
                                class="fa fa-star-o"></i></a></div>
                        <!--<div class="wrapper"><a href="#" class="custom_btn_border">Добавлено <i class="fa fa-star"></i></a></div>-->
                    </div>

                {% endfor %}
            {% else %}
                <td colspan="1">{% trans 'No bookmarked movies' %}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </div>

        </div>
        </div>
    </div>

    <!--Горизонтальный баннер-->
    <div class="row">
        <div class="col-sm-12">
            <div class="banner_hor">
                <a href="#"><img src="../static/img/banner_910x90.png" alt="banner" class="img-responsive"></a>
            </div>
        </div>
    </div>



    <!--Фильмы-->
{% endblock %}