{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load oc_custom_tags %}
{% block title %}{{ movie.name }}{% endblock %}
{% block content %}

<!--Основной контейнер-->
<div class="container" id="main_content">

    <!--Breadcrumbs-->
    <div class="row">
       <div class="col-sm-12">
           <ul class="breadcrumb">
               <li><a href="{% url 'webapp:bestseller_list' %}" class="hover_line">{% trans 'Bestsellers' %}</a></li>
               <li>{{ movie.name }}</li>
           </ul>
       </div>
   </div>
    <!--Конец-->

    <!--О фильме-->

    <div class="row">
        <div class="col-sm-12">
            <h1 class="movie_title"> {{ movie.name }}</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <img src="{{ movie.covers }}" alt="poster" class="img-responsive poster_movie_page">
        </div>

        <div class="col-sm-8">

            <div class="metadata">
                <p>
                    <strong><span>{{ movie.year }}</span> {% for country in movie.countries.all %}<span>{{ country.name }}</span>
                        {% endfor %}</strong>
                    {% for file in movie.files.all %}
                        <span data-toggle="tooltip" data-placement="top" title="{% trans 'Duration' %}">
                            <i class="fa fa-clock-o"></i>
                            {{ file.seconds|get_hours }} {% trans "h." %}
                            {{ file.seconds|get_minutes }} {% trans "min." %}
                        </span>
                    {% endfor %}
                    <span data-toggle="tooltip" data-placement="top" title="{% trans 'Number of views' %}"><i class="fa fa-eye"></i> {{ movie.hit }}</span>
                </p>
                <p>
                    {% for genre in movie.genres.all %}
                        <span>{{ genre.name }}</span>
                    {% endfor %}
                </p>
                <p>
                    {% for rating in movie.ratings.all %}
                        {% if rating.value %}
                            <span data-toggle="tooltip" data-placement="top" title="{% trans 'Rating' %}
                                {{ rating.system }}">{{ rating.system }}: {{rating.value|floatformat}}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

            <!--Голосовалка-->
            <div class="my_rate">
                <div class="pull-left">
                    <span class="my_rate_span">{% trans 'My rating' %}: </span>
                </div>
                <div class="pull-left">
                    <div class="rate" data-rate-value=6></div>
                </div>

                <!--Если уже проголосовал, то показываем этот блок тоже-->
                <!--<div class="pull-left remove_rating">-->
                    <!--<button class="btn_blank"  data-toggle="tooltip" data-placement="top" title="Убрать мой рейтинг"><i class="fa fa-times"></i></button>-->
                <!--</div>-->
                <!--Конец-->

            </div>
            <!--Конец-->

            <div class="button_block">
                <div class="wrapper"><a href="{% url 'webapp:view_movie' movie.movie_id %}" class="custom_btn_border big">{% trans 'Watch' %}</a></div>
                <div class="wrapper"><a href="#" class="custom_btn_border">{% trans 'Download' %}</a></div>
                {% if user.is_authenticated %}
                    <form action="#" method="post" class="wrapper">
                        {% csrf_token %}
                        {% if bookmark %}
                            <div class="wrapper hidden_prew"><button id="from_favorites" class="custom_btn_border small_padding click_button_favorites">Добавлено <i class="fa fa-star"></i></button></div>
                            <div class="wrapper hidden_prew_a hidden"><button id="to_favorites" class="custom_btn_border small_padding click_button_favorites">{% trans "To favorites" %}<i class="fa fa-star-o"></i></button></div>
                        {% else %}
                            <div class="wrapper hidden_prew_a"><button id="to_favorites" class="custom_btn_border small_padding click_button_favorites">{% trans "To favorites" %}<i class="fa fa-star-o"></i></button></div>
                            <div class="wrapper hidden_prew hidden"><button id="from_favorites" class="custom_btn_border small_padding click_button_favorites">Добавлено <i class="fa fa-star"></i></button></div>
                        {% endif %}
                    </form>
                {% else %}
                    <div class="wrapper"><a href="{% url 'login' %}" class="custom_btn_border small_padding click_button_favorites">{% trans "To favorites" %}<i class="fa fa-star-o"></i></a></div>
                {% endif %}
            </div>

            <div class="metadata">
                <p><span>{% trans 'Director' %}: </span>
                    {% for producer in producer.all %}
                        {% if forloop.last %}
                            {{ producer.person.name }}
                        {% else %}
                            {{ producer.person.name }},
                        {% endif %}
                    {% endfor %}
                </p>

                <p><span>{% trans 'Cast' %}: </span>
                    {% for actor in actors.all %}
                        {% if forloop.last %}
                            {{ actor.person.name }}
                        {% else %}
                            {{ actor.person.name }},
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

            <div class="description">
                <p>{{ movie.description }}</p>
            </div>

        </div>

    </div>
    <!--Конец-->

    <!--Кадры из фильма-->
    <div class="frames">
        <div class="row">

            <div class="col-sm-4">
                <a href="#" class="banner">
                    <img src="../static/img/banner_200х400.png" alt="banner" class="img-responsive hidden-xs">
                    <img src="../static/img/mobile_banner.jpg" alt="banner" class="img-responsive visible-xs">
                </a>
            </div>

            <div class="col-sm-8">

                <h3 class="h3_with_fa"><i class="fa fa-film"></i>{% trans 'Movie stills' %}</h3>



                <div id="frames_wrapper">
                    <div class="row">

                        <!--Для каждого кадра добавляем: -->
                        <!--для wrapper - data-src="ссылка на полноразмерное из-ие"-->
                        <!--Для ссылки - style="background-image:url(ссылка на превью)"-->
                    {% for frame in movie.files.frames.all %}
                        <div class="col-xs-6">
                            <div class="wrapper" data-src="img/frame_big_1.jpg">
                                <a href="#" class="s_frame" style="background-image: url({{ frame }})"></a>
                            </div>
                        </div>
                    {% endfor %}

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--Конец-->

    <!--Горизонтальный баннер-->
    <div class="row">
        <div class="col-sm-12">
            <div class="banner_hor">
                <a href="#">
                    <img src="../static/img/banner_910x90.png" alt="banner" class="img-responsive hidden-xs">
                    <img src="../static/img/mobile_banner.jpg" alt="banner" class="img-responsive visible-xs">
                </a>
            </div>
        </div>
    </div>
    <!--Конец-->

    <!--Отзывы о фильме-->
    <div class="comments comments_movie_page">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="h3_with_fa"><i class="fa fa-comments-o"></i>{% trans 'Movie reviews' %}</h3>
                <div class="new_comment"></div>
                <!--Комментарий-->
                {% for comment in comments %}
                    {% if forloop.counter < 5 %}
                    <div class="s_comment">
                        <div class="user_letter">{{ comment.user.login.0 }}</div>
                        <div class="top">
                            <span><strong>{{ comment.user.login }}</strong></span>
                            <span class="date">{{ comment.created_at }}</span>
                            <span class="comment_rate">
                                <a href="#" class="comment_up"><i class="fa fa-caret-up"></i></a>
                                {% for rating in comment.comments_rating.all %}
                                    <strong>{{ rating.vote }}</strong>
                                {% endfor %}
                                <a href="#" class="comment_down"><i class="fa fa-caret-down"></i></a>
                            </span>
                        </div>
                        <div class="text">
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                    <!--Конец-->
                     {% else %}
                        {% if forloop.counter < 11 %}
                            <div class="hidden_comments">

                                <!--Комментарий-->
                                <div class="s_comment">
                                    <div class="user_letter">{{ comment.user.login.0 }}</div>
                                    <div class="top">
                                        <span><strong>{{ comment.user.login }}</strong></span>
                                        <span class="date">{{ comment.created_at }}</span>
                                        <span class="comment_rate">
                                        <a href="#" class="comment_up"><i class="fa fa-caret-up"></i></a>
                                        <strong>1</strong>
                                        <a href="#" class="comment_down"><i class="fa fa-caret-down"></i></a>
                                    </span>
                                    </div>
                                    <div class="text">
                                        <p>{{ comment.text }}</p>
                                    </div>

                                </div>
                                <!--Конец-->

                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if comments_len > 10 %}
                    <div class="hidden_comments">
                        <div class="s_comment">
                        <p><a href="{% url 'webapp:movie_comments' movie.movie_id %}" id="comments_page_btn" class="custom_btn red">{% trans 'Show all reviews' %}
                                    ({{comments_len}})</a></p>
                        </div>
                    </div>
                {% endif %}
                {% if comments_len > 4 %}
                    <div class="show_all_comments">
                        <button class="btn_blank hover_line" id="show_all_comments_btn">Показать еще</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Конец-->
    <!--Добавить отзыв-->
    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="add_comment">

                    <h3 class="h3_with_fa"><i class="fa fa-edit"></i>{% trans "Add a review" %} </h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <form action="#" method="post">
                                <input type="hidden" id="movie" data-id="{{ movie.movie_id }}">
                                {% csrf_token %}
                                <textarea class="form-control" id="id_text" rows="6"></textarea>
                                <a href="#reviews"><button class="custom_btn_border red" id="comment_add">{% trans "Add" %}</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--Конец-->
    <!--Похожие фильмы-->
    <div class="s_bestseller_slider_row">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3><i class="fa fa-check"></i>{% trans 'Similar movies' %}</h3>
            </div>
        </div>

        <div class="s_bestseller_slider">

            <div class="row">

                <!--Стрелка влево-->
                <div class="col-sm-1 hidden-xs">
                    <button class='btn btn-default leftRs' data-slider="bestseller_slider_1"><i
                            class="fa fa-angle-left"></i></button>
                </div>
                <!--Конец-->

                <!--Слайдер-->
                <div class="col-sm-10">


                    <div class="resCarousel" data-items="2,3,4,4" data-slide="1"
                         id="bestseller_slider_1">

                        <div class="resCarousel-inner">
                            {% for movie in compilation.all %}
                            <!--Один фильм-->
                            <div class="item">

                                <!-- Для ссылки внутри каждого фильма в цикле прописываем айдишник вида bestseller_slider_[номер слайдера]_film_[номер фильма]-->

                                <a href="{% url 'webapp:movie_detail' movie.movie_id %}" id="bestseller_slider_1_film_{{ movie.movie_id }}">
                                    <span class="poster" style="background-image: url({{ movie.covers }})">
                                        <span class="helper"><i class="fa fa-play-circle-o"></i></span>
                                    </span>
                                    <span class="title">{{ movie.name }}</span>
                                </a>

                                <!--Всплывающее описание. Айдишник вида popover_[айди ссылки на фильм]-->
                                <div id="popover_bestseller_slider_1_film_{{ movie.movie_id }}" class="popover_custom"
                                     style="display: none">

                                    <div class="top">
                                        <button class="btn_blank" title="{% trans 'To favorites' %}"><i class="fa fa-star-o"></i>
                                        </button>
                                        <!--<button class="btn_blank in_fav" title="Удалить из избранного"><i class="fa fa-star"></i></button>-->
                                        <a href="#" class="hover_line info_link">{% trans 'Description' %}</a>
                                        {% for file in movie.files.all %}
                                            <span class="time"><i class="fa fa-clock-o"></i>
                                                {{ file.seconds|get_hours }} {% trans "h." %}
                                                {{ file.seconds|get_minutes }} {% trans "min." %}</span>
                                        {% endfor %}
                                        <span class="view"><i class="fa fa-eye"></i> {{ movie.hit }}</span>
                                    </div>

                                    <div class="genre">
                                        {% for genre in movie.genres.all %}
                                            <span>{{ genre.name }}</span>
                                        {% endfor %}
                                    </div>

                                    <div class="year">
                                        <span>{{ movie.year }}</span>
                                        {% for countries in movie.countries.all %}
                                            <span>{{ countries.name }}</span>
                                        {% endfor %}
                                    </div>

                                    <div class="info">
                                        <p>
                                            {% for ratings in movie.ratings.all %}
                                            <span>{{ ratings.system }} : {{ ratings.value|floatformat }}</span>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            <span>{% trans 'Producer' %}:</span>
                                            {% for participants in movie.participants.all %}
                                            {% if participants.role.role_id == 1 %}
                                                <span>{{ participants.person.name }}</span>
                                            {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p>
                                            <span>{% trans 'Cast' %}:</span>
                                            {% for participants in movie.participants.all %}
                                            {% if participants.role.role_id == 3 or participants.role.role_id == 4 %}
                                                <span>{{ participants.person.name }}</span>
                                            {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>

                                    <div class="excerpt">
                                        <p>{{movie.description}}</p>
                                    </div>

                                </div>
                                <!--Конец-->

                            </div>
                            <!--Конец-->
                            {% endfor %}

                        </div>

                    </div>

                </div>
                <!--Конец-->

                <!--Стрелка вправо-->
                <div class="col-sm-1 hidden-xs">
                    <button class='btn btn-default rightRs' data-slider="bestseller_slider_1"><i
                            class="fa fa-angle-right"></i></button>
                </div>
                <!--Конец-->

            </div>

        </div>


    </div>
    <!--Конец-->

</div>
<!--Конец-->

{% endblock %}
{% block script %}

<!--Подключаем слайдер с фильмами-->
<script src="../static/js/resCarousel.min.js"></script>
<!--Конец-->

<!--Скрипт для popover-->
<script src="../static/js/tippy.all.min.js"></script>
<script>

    function initialize_popper(obj) {
        var element = '#' + $(obj).attr('id');
        var template = document.getElementById('popover_' + $(obj).attr('id'));

        try {
            tippy(
                element,
                {
                    content: template.innerHTML,
                    placement: "right-end",
                    flipBehavior: ["right", "left"],
                    interactive: true,
                    animateFill: false,

                    // boundary: $('#catalog_film_3'),
                    theme: 'praktikanto',
                    onMount({reference}) {
                        reference.setAttribute('aria-expanded', 'true');
                        $(element).find('.helper').toggle('fade', {direction: "right"}, 100);
                    },
                    onHide({reference}) {
                        reference.setAttribute('aria-expanded', 'false');
                        $(element).find('.helper').toggle('fade', {direction: "right"}, 100);
                    },
                },
            )

        } catch (err) {

            console.log(err)

        }
    }

    $(document).ready(function () {
        $('a[id^=bestseller_slider]').each(function () {

            initialize_popper($(this));

        });

        $('a[id^=catalog_film_]').each(function () {

            initialize_popper($(this));

        });
    });
</script>
<script>
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $('#comment_add').click(function (e) {
            e.preventDefault();
            let movie_id = $('#movie').attr('data-id');
            let text = $('#id_text').val();
            let user_pk = {{ request.user.pk }};
            if(text !== '') {
                data = {
                    movie_id: movie_id,
                    text: text,
                    user_pk: user_pk,
                    csrfmiddlewaretoken: csrftoken
                };

                $.ajax({
                    type: "POST",
                    url: "{% url 'webapp:add_comment' %}",
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        $.each(data, function (field) {
                            $('.new_comment').prepend('<div class="s_comment"><div class="user_letter">'+data[field]['user'][0]+'</div>' +
                                '<div class="top"><span><strong>'+data[field]['user']+'</strong></span>' +
                                '<span class="date">'+data[field]['created_at']+'</span>' +
                                '<span class="comment_rate"><a href="#" class="comment_up"><i class="fa fa-caret-up"></i></a>' +
                                ' <strong>1</strong> <a href="#" class="comment_down"><i class="fa fa-caret-down"></i></a></span></div>' +
                                '<div class="text"><p>'+data[field]['text']+'</p></div></div>');
                            $('#id_text').val('');
                        });
                    }
                })
            }
        })
    });
</script>

<script>
    $(document).ready(function () {

        $('#to_favorites').click(function (e) {
            e.preventDefault();
            let movie_id = $('#movie').attr('data-id');
            let user_pk = {{ request.user.pk }};
            let csrftoken = $('input[name=csrfmiddlewaretoken]').attr('value');

            data = {
                movie_id: movie_id,
                user_pk: user_pk,
                csrfmiddlewaretoken: csrftoken
            };

            $.ajax({
                type: "POST",
                url: "{% url 'webapp:to_favorites' %}",
                dataType: 'json',
                data: data,
                success: function (data) {
                    console.log(data[0]['csrf']);
                    $('.hidden_prew_a').addClass("hidden");
                    $('.hidden_prew').removeClass("hidden");
                }
            })
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#from_favorites').click(function (e) {
            e.preventDefault();
            let movie_id = $('#movie').attr('data-id');
            let user_pk = {{ request.user.pk }};
            let csrftoken = $('input[name=csrfmiddlewaretoken]').attr('value');

            data = {
                movie_id: movie_id,
                user_pk: user_pk,
                csrfmiddlewaretoken: csrftoken
            };

            $.ajax({
                type: "POST",
                url: "{% url 'webapp:from_favorites' %}",
                dataType: 'json',
                data: data,
                success: function (data) {
                    console.log(data[0]['csrf']);
                    $('.hidden_prew').addClass("hidden");
                    $('.hidden_prew_a').removeClass("hidden");
                }
            })
        });
    });
</script>

<script>

    // Select all links with hashes
    $('a[href*="#"]')
      // Remove links that don't actually link to anything
      .not('[href="#"]')
      .not('[href="#0"]')
      .click(function(event) {
        let text = $('#id_text').val();
        if(text !== '') {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000, function () {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        }
                        ;
                    });
                }
            }
        }
      });
</script>
<!--Конец-->
{% endblock %}