{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
   <div class="container" id="main_content">
   <div class="row" id="movie_list">
            <div class="col-sm-10 col-sm-offset-1">

                <h3 class="h3_with_fa"><i class="fa fa-star-o"></i>{% trans 'Collections' %}</h3>

                <div class="row" style="overflow-x: hidden;">
                    <!--В цикле выводим фильмы-->
                    {% for selection in selection_list %}
                        <div class="col-md-3 col-sm-4 col-xs-6" style="height: 307px">

                            <div class="s_film_in_catalog">

                                <a href="#"
                                   id="catalog_film_{{ selection.selection_id }}">
                            <span class="poster" style="background-image: url({{ selection.image }})">
                                <span class="helper"><i class="fa fa-play-circle-o"></i></span>
                            </span>
                                    <span class="title">{{ selection.name }}</span>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}
